bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
packages/
node_modules/
.env
Logs/
appsettings.Development.json
*.dbmdl
*.jfm
_ReSharper*/
*.ReSharper*
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.publishsettings
*.pfx
*.publishproj
/Properties/launchSettings.json
Logs_Record/